[color]
    ui = auto
[user]
    name = 
    email = 
[diff]
    external = ~/git-diff.sh
[core]
    editor = vim
    quotepath = false
    pager = less -+$LESS -FRX
    excludesfile = ~/.gitignore
[alias]
    co = checkout
    ci = commit
    logs = log --stat --abbrev-commit
