[color]
    ui = auto
[user]
    name = 
    email = 
[diff]
    external = ~/bin/git-diff.sh
[core]
    editor = vim
    quotepath = false
    pager = less -+$LESS -FRX
    excludesfile = ~/.gitignore
[alias]
    co = checkout
    ci = commit
    logx = log --stat --abbrev-commit
    dfx = diff --no-ext-diff
    st = status
    br = branch
    cp = cherry-pick
    sm = submodule
[push]
	default = simple
